.footer{
    background-color: rgb(245,245,245);
    color:black;
    margin-top: 15%;
}
.logo{
    width: 10%;
    height: 10%;
    margin-right:0;
    padding: 2rem;
}
.top{
    margin-top:0;
    display: flex;
    justify-content: space-between;
}
.icons{
    color:black;
    margin: 2px;
    gap: 0.5rem;
    /* padding: 1rem 3rem; */
    display: flex;
}
.top h4{
    font-size: 2rem;
}
@media screen and (max-width:550px) {
    .footer{
        padding: 4rem 2rem;
        margin-top: 15%;
    }
    
}