.hero{
    width:100%;
    height:100vh;
    position: relative;
}
.hero-mid h1{
    padding-top: 4rem !important;
}

.hero img {
    width:100%;
    height:100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;

}
.hero-text{
    position: absolute;
    top: 60%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.hero-text h1{
    font-size: 3rem;
    font-weight: 800;
    background: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero-text p{
    font-size: 1rem;
    color:#fff;
    padding: 0 0 2rem 0;
}

@media screen and (max-width:1000px) {
    .hero-text h1{
        font-weight: 20px;
        padding:5px 10px;
    }
    .hero-text p{
        font-size: 1.1rem;
        padding: 0 0 2rem 0;
       
    }
    .hero img {
        width:100%;
        height:100%;
        object-fit: cover;
        background-size: cover;
        background-position: center;
        object-fit: cover;
        align-items: center;
    
    }
    
}
    